<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0px;
        padding: 0px;
        font-family: sans-serif;
        height: 100vh;
      }
      .logoname {
        text-align: center;
        font-weight: 400;
      }
      h2 {
        margin: 10px 0px 0px 0px;
        font-size: 30px;
        color: white;
      }
      h6 {
        margin: 10px 0px 0px 0px;
        font-size: 14px;
        color: white;
      }
    </style>

    ​
  </head>
  <body>
    <!-- <h1>Welcome</h1> -->
    <div
      style="
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
      "
    >
      <div style="background-color: rgb(29, 191, 115)">
        <h2 class="logoname">
          The Global<u
            style="
              font-family: 'Times New Roman', Times, serif;
              text-decoration: none;
              font-weight: 100;
              color: whitesmoke;
              letter-spacing: 2px;
            "
            >Solutions</u
          >
        </h2>

        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
          "
        >
          <a
            href="http://localhost:8080/realms/StepsRealm/protocol/openid-connect/auth?client_id=account-console&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Frealms%2FStepsRealm%2Faccount%2F%23%2Fsecurity%2Fsigningin&state=832b90af-c08a-4854-8c4d-46efbd38ed86&response_mode=fragment&response_type=code&scope=openid&nonce=96566357-5c73-4f4b-a111-3b0ffab80dfc&code_challenge=TYOjvF1IO9rA7GdqUqp3S4I3RoDL-_wE5yhOOuq1gKo&code_challenge_method=S256"
          >
            <img
              src="https://cloudinsider.io/ci/static-gs/images/icons/cloud.png"
              alt="logo"
              style="color: white"
          /></a>
          <h2>Cloud Insider</h2>
          <h6>Watch your spend in cloud</h6>
        </div>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: rgb(243, 209, 214);
        "
      >
        <h3>Application 2</h3>
      </div>
    </div>
  </body>
</html>
